<!DOCTYPE html>
<html>
	<head>
	  <title>Socend</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
	  <style>
		h1 {font-size:400%;}
		h2 {font-size:200%;}
		p {font-size:100%;}
	  </style>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
   			  <% flash.each do |name, msg| %>
                <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
            <% end %>
   			 <%= yield %>

    	<%= render 'layouts/footer' %>
			</div>
	</body>
</html>
